.shared-footer {
  position: relative;
  padding: max(25px, 1vw) 3.5%;
  background-color: #0f0f0f;
  color: #fff;
  overflow: hidden;
}
.inner-footer {
  display: flex;
  flex-wrap: wrap;
}
.left__footer {
  display: flex;
  width: 65%;

  .footer-list {
    width: fit-content;
    max-width: 30%;
    margin: max(5.5%, 0.9vw) 2.5%;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  h6 {
    font-size: max(13px, 0.8vw);
    color: #f5f5f5;
    margin-bottom: max(10px, 0.75);
  }
  a {
    color: #eee;
    font-size: max(13px, 0.7vw);
    margin: max(7px, 0.6vw) 0;
  }
}

.right-footer {
  width: 35%;
  padding: max(25px, 1.5vw) 0;
  .Logo {
    display: flex;
    align-items: center;
    .icon {
      content: url("../../../assets/erion.png");
    }
    h6 {
      color: #fff;
      font-size: max(26px, 0.9vw);
      padding-left: 15px;
      span {
        color: #ff9c39;
      }
    }
  }
  p {
    font-size: max(13px, 0.9vw);
    padding: 10px 0px;
  }
  .buttons {
    padding: max(30px, 0.9vw) 0;
    .donate {
      background-color: #ff9c39;
      margin-right: 20px;
      border: none !important;
    }
    a {
      border-radius: 10px;
      padding: max(10px, 0.9vw) 25px;
      font-size: max(14px, 0.5vw);
      border: 1px solid rgb(180, 180, 180);
      color: #fff;
      &:hover {
        animation: shadow 0.6s both;
      }
    }
  }
  .media {
    display: flex;
    margin: max(10px, 0.9vw) 0px;
    cursor: pointer;
    align-items: center;
    .fb {
      content: url("../../../assets/fb.png");
      padding-left: 15px;
    }
    .insta {
      content: url("../../../assets/insta.png");
      padding-left: 15px;
    }
    .twiter {
      content: url("../../../assets/twit.png");
      padding-left: 15px;
    }
    .in {
      content: url("../../../assets/in.png");
      padding-left: 15px;
    }
  }
  .contacts {
    .phone,
    .email {
      display: flex;
      align-items: center;
      p {
        margin-left: 10px;
      }
    }
  }
}
.app {
  border-bottom: 1px solid rgb(165, 165, 165);
  padding: max(10px, 0.6vw) 1.5%;
  display: flex;
  align-items: center;
  p {
    font-size: max(14px, 0.9vw);
  }
  .google {
    content: url("../../../assets/google-play-badge.png");
    padding-left: 20px;
    cursor: pointer;
  }
  .app1 {
    content: url("../../../assets/1.png");
    cursor: pointer;
  }
}

.right-reserved {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: max(10px, 0.7vw) 1.5%;

  .first {
    p {
      font-size: max(13px, 0.5vw);
    }
  }
  .middle {
    display: flex;
    align-items: center;
    .item {
      padding: max(0, 0) 15px;
      font-size: max(13px, 0.5vw);
      color: #fff;
    }
  }
  .third {
    display: flex;
    align-items: center;
    .setting {
      content: url("../../../assets/set.png");
      padding: 15px 15px;
      width: 20%;
    }
    .sun {
      content: url("../../../assets/sun.png");
      width: 20%;
      padding: 15px 15px;
    }
  }
}
@media (max-width: 1040px) {
  .shared-footer {
    .left__footer {
      width: 100%;
      text-align: center;
      .footer-list {
        width: 30%;
      }
    }
    .right-footer {
      width: 100%;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .app{
      justify-content: center;
    }
    .right-reserved {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@media (max-width: 600px) {
  .shared-footer {
    .left__footer {
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      .footer-list {
        width: 40% !important;
      }
    }
    .right-footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .app {
      display: flex;
      flex-direction: column;
      .google {
        padding: unset;
      }
    }
    .right-reserved {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .first,
      .middle {flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        p {
          font-size: 13px;
        }
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-1 2:24:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes shadow {
  0% {
    text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555,
      0 0 #555, 0 0 #555;
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555, 0 -2px #555, 0 -3px #555, 0 -4px #555, 0 -5px #555,
      0 -6px #555, 0 -7px #555, 0 -8px #555;
    transform: translateY(8px);
  }
}
